.footer {
    padding: calc($separacion / 2) 0;
    background-color: $grisOscuro;
    margin-bottom: 0;

    .contenedor-footer {
        padding-top: calc($separacion / 2);
    }

    .navegacion {
        opacity: 1;
        visibility: visible;
        height: auto;
    }

    .copyright {
        color: $blanco;
        text-align: center;
    }
}